$utilities: map.merge(
  $utilities,
  (
    "border": (
      property: border,
      responsive: true,
      values: (
        null: $border-width solid map.get($theme-colors, "primary"),
        0: 0,
      ),
    ),
    "border-top": (
      property: border-top,
      responsive: true,
      values: (
        null: $border-width solid map.get($theme-colors, "primary"),
        0: 0,
      ),
    ),
    "border-bottom": (
      property: border-bottom,
      responsive: true,
      values: (
        null: $border-width solid map.get($theme-colors, "gray"),
        0: 0,
      ),
    ),
  )
);
