.chat {
  display: flex;
  gap: 1.5rem;
  text-decoration: none;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 7.5%);
  padding: map.get($spacers, 3) map.get($spacers, 4);
  margin-bottom: map.get($spacers, 3);

  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    &-first-line {
      display: flex;
      justify-content: space-between;
    }
  }

  &-name {
    color: $dark;
    margin-bottom: map.get($spacers, 0);
    font-weight: $font-weight-bold;
  }

  &-time {
    color: #adb5bd;
    margin-bottom: map.get($spacers, 0);
    font-size: $small-font-size;
  }

  &-message {
    color: $secondary;
    font-size: $small-font-size;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:not(div):hover {
    background: map.get($theme-colors, "primary");
    transition: all 0.3s ease-out;
    color: $light;

    .chat-name,
    .chat-time,
    .chat-message {
      color: $light;
    }
  }
}
