doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Chat

  body
    .container 
      .container-xxl
        .container
          include includes/header.pug
          include includes/contacts.pug
