nav.navbar.navbar-expand.bg-primary.order-last.order-md-first.d-flex.justify-content-between.px-3.py-3
  img(src="../app/images/icons/logo.svg" height="40px")
  ul.navbar-nav.d-flex.gap-sm-3.gap-4.nav(id="tab" role="tablist")
    li(role="presentation")
      a.d-flex.gap-2.p-0.px-2.active.text-decoration-none(id="contacts-tab" href="#contacts" data-bs-toggle="tab" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="true")
        img(src="../app/images/icons/people.svg" width="25px")
        p.text-light.my-0.d-none.d-sm-block Контакты
    li(role="presentation") 
      a.d-flex.gap-2.p-0.px-2.text-decoration-none(id="chats-tab" href="#chats" data-bs-toggle="tab" data-bs-target="#chats" type="button" role="tab" aria-controls="chats" aria-selected="false")
        img(src="../app/images/icons/chat.svg" width="25px")
        p.text-light.my-0.d-none.d-sm-block Сообщения
    li(role="presentation")
      a.d-flex.gap-2.p-0.px-2.text-decoration-none(id="profile-tab" href="#profile" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false")
        img(src="../app/images/icons/person.svg" width="18.75px")
        p.text-light.my-0.d-none.d-sm-block Профиль



