nav.navbar.navbar-expand.bg-primary.order-last.order-md-first.d-flex.justify-content-between.px-3.py-3
  img(src="../app/images/icons/logo.svg" height="40px")
  ul.navbar-nav.d-flex.gap-sm-3.gap-4
    li.nav-item.d-flex.align-items-center
      a.d-flex.gap-2.p-0.px-2.nav-link(href="#")
        img(src="../app/images/icons/people.svg" width="25px")
        p.text-light.my-0.d-none.d-sm-block Контакты
    li.nav-item.d-flex.align-items-center 
      a.d-flex.gap-2.p-0.px-2.nav-link(href="#")
        img(src="../app/images/icons/chat.svg" width="25px")
        p.text-light.my-0.d-none.d-sm-block Сообщения
    li.nav-item.d-flex.align-items-center
      a.d-flex.gap-2.p-0.px-2.nav-link(href="#")
        img(src="../app/images/icons/person.svg" width="18.75px")
        p.text-light.my-0.d-none.d-sm-block Профиль



