form.form-search.mx-xl-5.d-flex.justify-content-between.align-items-center.px-4.bg-white.sticky-bottom
  label.form-label.d-none(for='input-msg')
  input.form-control.w-75.py-md-2rem.py-4.px-0.shadow-none.border-0.border-bottom(type='text' placeholder='Напишите сообщение...' id='input-msg')
  button.avatar.bg-primary.p-0.m-0.border-0
    img(src='images/icons/cursor.svg' alt='Отправить' width='20px' height='20px')
