.d-flex.flex-column.align-items-center
  img.greet-picture.mb-2(src='images/avatar_1.jpg' alt='Картинка с приветствием')
  p.fw-bold.text-center.mb-0 Привет, Кодовёнок
  p.text-muted.small.mb-0 Выбери чат, чтобы начать общаться
